@use "sass:map";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$theme-colors: (
  primary: $teal,
);

@import "~bootstrap/scss/bootstrap.scss";

// Mixins
@mixin flex-center($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

#root{
  background-color: $gray-300;
}
/* Layout */
#app-layout {
  margin: 0 auto;
  display: grid;
  height: 100vh;
  max-height: 813px;
  max-width: 1440px;
  grid-template-areas:
    "header header header"
    "side main main";
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: 60px calc(100vh - 60px);
  position: relative;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  z-index: 99;
  height: 100%;
  background-color: #fafafa;
  grid-area: header;
  display: grid;
  grid-template-columns: 300px 2fr;

  .header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.25rem;
  }
  .header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.25rem;
  }
}

/* Side Content */
.side-content {
  grid-area: side;
  height: 100%;
  background-color: $gray-100;
}

/* Main Content */
.main-content {
  grid-area: main;
  position: relative;
  /* Chat */
  .chat-container {
    height: calc(100% - 80px);
    overflow-y: scroll;
    position: relative;
    background-color: $gray-200;
    padding: 1rem 0;
    @include flex-center(flex-start);

    .chat-messages {
      width: 90%;
      height: 100%;
      margin: 0 auto;

      .chat-item {
        padding: 1rem;
        background-color: $light;
        margin: 5px 0;
        max-width: 500px;
        min-width: 100px;
        border-radius: 20px;
        border-top-left-radius: 0;
        width: fit-content;

        &.sender {
          margin-left: auto;
          background-color: map-get($theme-colors , "primary" ); 
          color: $white;
          border-top-left-radius: 20px;
          border-bottom-right-radius: 0;
        }
      }
      .broadcast {
        padding: 0.5rem;
        border-radius: 20px;
        background-color: $gray-300;
        color: $gray-500;
        text-align: center;
      }
    }
  }
  .chat-input {
    position: sticky;
    bottom: 0;
    right: 0;
    height: 80px;
    background-color: #fafafa;
    width: 100%;
    // padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
      width: 90%;
    }
  }
}
